<!DOCTYPE html>
<html>
  <head>
    <title>RailsPlayground</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <% if current_user.present? %>
        <!-- Clerk UserButton -->
        <div id="user-button"></div>
      <% else %>
        <!-- Clerk Sign up and Sign in links -->
        <button onclick="Clerk.openSignIn()">Sign in</button>
        <button onclick="Clerk.openSignUp()">Sign up</button>
      <% end %>
    </nav>
    <%= yield %>
    <%= clerk_script_tag %>
  </body>
</html>
